<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Test</title>
</head>
<body>
    <center>
        <h3>Press the Button</h3>
        <audio id="audioMusic">
        <source src="SUCCESS.mp3" type="audio/mpeg">
        </audio>
        <button onClick="playAudio()">Press Here!</button>
    </center>

    <script>
        var audio = document.getElementById('audioMusic');

        function playAudio() {
            audio.play();
        }
    </script>
</body>
</html>