<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static '/assets/app/dashboard/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/app/dashboard/vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static '/assets/app/dashboard/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static '/assets/images/favicon.png' %}" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
    <!--Replace with your tailwind.css once created-->


<style>
    body{
        background-color: #17202A;
    }
    .modal_bg{
      background: #154360 transparent;
    }
</style>
</head>

<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover mt-10 p-10">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row shadow-sm back_color">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a href="{% url 'dashboard' %}" class="btn  btn-dark btn-rounded "> <i class="fas fa-arrow-left"></i>  </a>

    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <h5 class="text-secondary btn btn-transparent"></h5>
      <ul class="navbar-nav mr-lg-2">

      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown mr-1">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
            id="messageDropdown" href="#" data-toggle="dropdown">
            <i class="ti-email mx-0"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>

            <a class="dropdown-item">
              <div class="item-thumbnail">
                <img src="{% static '/assets/images/faces/face3.jpg' %}" alt="image" class="profile-pic">
              </div>
              <div class="item-content flex-grow">
                <h6 class="ellipsis font-weight-normal"> Johnson
                </h6>
                <p class="font-weight-light small-text text-muted mb-0">
                  Upcoming board meeting
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
            data-toggle="dropdown">
            <i class="ti-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

            <a class="dropdown-item">
              <div class="item-thumbnail">
                <div class="item-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="item-content">
                <h6 class="font-weight-normal">New user registration</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="{% static '/assets/images/faces/face28.jpg' %}" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="{% url 'user_profile' %}">
              <i class="ti-user text-primary"></i>
              Profile
            </a>
            <a class="dropdown-item" href="{% url 'user_settings' %}">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="ti-view-list"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div id="profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">

            <div class="p-4 md:p-12 text-center lg:text-left">

            <form method="post" enctype="multipart/form-data">
                <!-- Image for mobile view-->
            <label class="text-black text-sm"></label>
                <div class="block lg:hidden rounded-full shadow-xl mx-auto mt-16 h-48 w-48 bg-cover bg-center"
                    style="background-image: url('https://images.unsplash.com/photo-1617873696465-792058dddd83?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI5fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60')"></div>
               <input type="file" value="file"/>
            </form>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">Johnson</h1>
               




                <p class="pt-8 text-sm">Totally optional short description about yourself, what you do and so on.</p>


                <div class="pt-12 pb-8">
                    <button class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full" data-toggle="modal" data-target="#profileId">
                        Edit 
                    </button>
                </div>

                <!-- Use https://simpleicons.org/ to find the svg for your preferred product -->
            </div>

        </div>

        <!--Img Col-->
        <div class="w-full lg:w-2/5">
        
             <form method="post" enctype="multipart/form-data">
              <!-- Big profile image for side bar (desktop) -->
              <label class="text-white text-sm">Click the current avatar to change your photo.</label>
              <img src="https://images.unsplash.com/photo-1617873696465-792058dddd83?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI5fHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                  class="bg-auto rounded-none lg:rounded-lg shadow-2xl hidden lg:block" alt="User Avatar">
                <!-- <input type="file" type="hidden" id="files" name="files" multiple="multiple"/>  -->
              <input type="file" value="file"/>
             </form>
    

        </div>

        <style>
            input[type="file"] { 
              opacity: 0; /* make transparent */
              z-index: -1; /* move under anything else */
              position: absolute; /* don't let it take up space */
            }
        </style>
        <!-- Pin to top right corner -->
        <div class="absolute top-0 right-0 h-12 w-18 p-40 m-50">
            <button class="js-change-theme focus:outline-none">🌙</button>
        </div>

    </div>
    {% include './modal/_edit_profile.html' %}


    <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script>
        //Init tooltips
        tippy('.link', {
            placement: 'bottom'
        })

        //Toggle mode
        const toggle = document.querySelector('.js-change-theme');
        const body = document.querySelector('body');
        const profile = document.getElementById('profile');


        toggle.addEventListener('click', () => {

            if (body.classList.contains('text-gray-900')) {
                toggle.innerHTML = "☀️";
                body.classList.remove('text-gray-900');
                body.classList.add('text-gray-100');
                profile.classList.remove('bg-white');
                profile.classList.add('bg-gray-900');
            } else {
                toggle.innerHTML = "🌙";
                body.classList.remove('text-gray-100');
                body.classList.add('text-gray-900');
                profile.classList.remove('bg-gray-900');
                profile.classList.add('bg-white');

            }
        });

    </script>
    
  <!-- plugins:js -->
  <script src="{% static '/assets/app/dashboard/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static '/assets/app/dashboard/vendors/chart.js/Chart.min.js' %}"></script>

</body>

</html>