// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    

   
}
body{
    color: #CACFD2;
}
.body-bg {
    background-color: #0f0813;
    background-image: linear-gradient(315deg, #0c0610 0%, #0a1230 74%);
  }