
.header__link{
    border: 1px solid transparent;
    padding: 0.5em;
    &:hover{
        border-bottom: 1px solid red;
        cursor: pointer;
    }
}

.header__button{
    border-radius: 0.1em;
    border: 0.1em solid transparent;
    cursor: pointer;


&:hover{
    border: 1px solid lightcoral;
   
    color: white;
}

}