<!-- create new todo board trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade modal_bg" id="boardId" tabindex="-1" role="dialog" aria-labelledby="#boardtitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content border border-rounded bg-light modal_bg">
              <div class="modal-header">
                  <h5 class="modal-title text-center">Create a New Board</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for=""></label>
                    <input type="text" class="form-control" placeholder="name">
                    <small id="emailHelpId" class="form-text text-muted">enter a title</small>
                  </div>
              </div>
              <div class="modal-footer d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                <div class="">
                    <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal"><i class="fas fa-arrow-left"></i></button>
                  </div>
                  <button type="button" class="btn btn-rounded card_bg text-white">Create</button>
                </div>
              </div>
          </div>
      </div>
  </div>