<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#profileId">
  Launch
</button> -->

<!-- Modal -->
<div class="modal fade modal_bg" id="profileId" tabindex="-1" role="dialog" aria-labelledby="profileTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                  <label for=""></label>
                  <input type="text" class="form-control mb-2 border border-rounded" name="" id="" placeholder="change username">
                  <input type="text" class="form-control mb-2 border border-rounded" name="" id=""  placeholder="chage bio">
                  <input type="name" class="form-control border border-rounded" name="" id="" aria-describedby="emailHelpId" placeholder="change email">

                </div>
            </div>
            <div class="modal-footer d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                <div class="">
                    <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal"><i class="fas fa-arrow-left"></i></button>
                  </div>
                  <button type="button" class="btn btn-rounded btn-dark  text-white">Update</button>
                </div>
              </div>
        </div>
    </div>
</div>